<html>
	<head>
		<meta charset="utf-8">
		<link href="../../config/css/index.css" rel="stylesheet" media="all" type="text/css">
		<title>CAMAGRU</title>
	</head>
	<body>
		<section>
			<div class="form-container">
				<div class="form-inner">
					<div class="info">
						<p class="sign-in">FORGET PASSWORD</p>
					</div>
					<form action="../../server/login.php" method="POST">
						<div class="sign-in-input">
							<div class="input-contain">
								<div class="warp">
									Un Email a été envoyé avec succés !
								</div>
								<div class="warp">
								</div>
							</div>
						</div>
						<input style="margin-top: 2%" class="mention-info" type="submit" name="submit" value="Return"></input>
					</form>
				</div>
			</div>
		</section>
	</body>
</html>